.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    overflow: hidden;
    background-color: #f5f5f5;
  }
  
  .heading {
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .dropdown-btn {
    margin-bottom: 1.5rem;
 
  }
  
  .todo-Btn {
    width: 100%;
  }
  
 
  
  @media screen and (max-width: 768px) {
    .heading {
      font-size: 2rem;
    }
  
    .form-container {
      padding: 1.5rem;
    }
  }