.catcontainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(230, 3, 3, 0.1);
    border-radius: 5px;
  }

  .header-container {
   margin-left: 33rem;
}

  .editclosebtn:hover{
    cursor: pointer;
    background-color: red;
    transform: scale(2.2);
    border-radius: 3px;
    
  }
 
  .catwrapper{
   /* background: linear-gradient(90deg, rgb(121, 119, 159) 0%, rgba(75, 14, 154, 1) 35%, rgb(59, 179, 203) 100%); */
    padding: 0 20px 0 20px;
    width: 100%;
    height: 100vh; 
    padding-top: 10rem;
  }
  
  .catform-group {
    margin-bottom: 20px;
  }
  
  .catform-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .catform-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .catbtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .catbtn:hover {
    background-color: #0056b3;
  }